### openpyxl (可讀寫excel表) : 專門處理Excel2007及以上版本產生的xlsx檔案，xls和xlsx之間轉換容易
英文教學 : [Openpyxl tutorial](http://zetcode.com/python/openpyxl/)

In [1]:
import numpy as np
import pandas as pd
from openpyxl import load_workbook
wb = load_workbook('data1.xlsx',data_only=True)
print(wb.sheetnames) #查看xlsx有甚麼分頁 ['iso5167-4', 'simplified method']

# 兩種選擇分頁方法
iso_sheet = wb.worksheets[0]
sim_sheet = wb.worksheets[1]
#iso = wb['iso5167-4']

print(iso_sheet['K2'].value)#768.7
print(sim_sheet['K1'].value)#768.7

['iso5167-4', 'simplified method']
0.2
768.7

In [2]:
#測試
#Patm = iso_sheet['K1'].value
#D    = iso_sheet['K4'].value
#d    = iso_sheet['K5'].value

# iso_sheet['K1']  #<Cell 'iso5167-4'.K1>

#for cell in list(iso_sheet.columns)[11]:
#    print(cell.value)

#D = list(iso_sheet.cell)['K4']

#for i in range(4,6):
#    print(type(iso_sheet.cell(i,11).value))  #<class 'float'>

In [3]:
# 一次大量讀取cell資料的方法
# hint: 如果xlsx的cell內是公式的話，想要讀取出值，必須在
# 前面 wb = load_workbook('data1.xlsx',data_only=True)加上 data_only=True。
parameter_list_number = []
for row in iso_sheet.iter_cols(min_row=1, min_col=11, max_row=17, max_col=11): #每一個row
    for cell in row: #每一個row裡的cell
        parameter_list_number.append(cell.value)
        #print(cell.value, end=" ")    
print(parameter_list_number)

[768.7, 0.2, 0.14, 1.4, '1.5*10^-5', 1.8e-05, 28.8, 8.314, 1.5e-05, 23.3, 64, 0.7000000000000001, 0.28868055555555555, 296.45, 0.031415900000000004, 1.1975424418815575, 0.9997070309770733]

In [4]:
#以下有兩種辦法呼叫參數 list、dict
'''
方法一
# 建立各參數的list，之後用x[]呼叫
x = parameter_list_label = ['Patm','D','d','k','vair','uair','Mair','Ru','vair','T','W','b','R','K','AD','p','P2_P1']
x = parameter_list_number #list
# 因為list只能用index呼叫，所以下列印出對照表，方便引用參數。
a={'np.arange(1,18)' : parameter_list_label} #兩個list組成dict
b=pd.DataFrame(a, index=np.arange(1,18))
print(b)
'''
#方法二 (以下都用dict方法)
parameter_list_label = ['Patm','D','d','k','vair','uair','Mair','Ru','vair','T','W','b','R','K','AD','p','P2_P1']
dic = dict(zip(parameter_list_label, parameter_list_number)) #dict字典
print(dic["R"])     #0.28868055555555555
print(dic['Patm'])  #768.7

0.28868055555555555
768.7

# 1
### P1、P2處之壓力
先算出P1(kpa)、P2(kpa)
xlsx內輸入10筆壓差後，經過計算得到多個參數。

In [5]:
# p1_kpa  (P1壓力)
p1_kpa = [] #從xlsx讀取數值
for row in iso_sheet.iter_cols(min_row=2, min_col=5, max_row=11, max_col=5):
    for cell in row:
        p1_kpa.append(cell.value)

p1_kpa_label = []#建立變數名稱
for i in np.arange(1,11): # 1 2 3~~~10
    p1_kpa_label.append('P'+ repr(i)) # repr()將不同類型的變數串成字串。
print(p1_kpa_label)

#將兩個list變成dict，引用參數 dict_p1_kpi['']
dict_p1_kpa = dict(zip(p1_kpa_label, p1_kpa)) #字典還有另一種方法 a ={'x':y}
print(dict_p1_kpa['P1'])

#方便查看變數，列印出表
# 引用參數迭代，p1_kpa[]
p1_kpa_df = pd.DataFrame(p1_kpa, columns=['P1(kpa)'], index=p1_kpa_label)
p1_kpa_df

['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10']
102.39990460526317

        P1(kpa)
P1   102.399905
P2   102.326905
P3   102.237905
P4   102.126905
P5   101.996905
P6   101.831905
P7   101.661905
P8   101.486905
P9   101.304905
P10  101.099905

In [6]:
# p2_kpa  (P2壓力)
p2_kpa = []
for row in iso_sheet.iter_cols(min_row=2, min_col=6, max_row=11, max_col=6):
    for cell in row:
        p2_kpa.append(cell.value)

p2_kpa_label = []
for i in np.arange(1,11):
    p2_kpa_label.append('P'+ repr(i))
print(p2_kpa_label)

#將兩個list變成dict，引用參數 dict_p1_kpi['']    
dict_p2_kpa = dict(zip(p2_kpa_label, p2_kpa))
print(dict_p2_kpa['P1'])

#方便查看變數，列印出表
# 引用參數迭代，p2_kpa[]
p2_kpa_df = pd.DataFrame(p2_kpa,columns=['P2(kpa)'] ,index=p2_kpa_label)
p2_kpa_df

['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10']
102.36990460526317

        P2(kpa)
P1   102.369905
P2   102.280905
P3   102.166905
P4   102.026905
P5   101.858905
P6   101.645905
P7   101.416905
P8   101.180905
P9   100.926905
P10  100.642905

In [7]:
# 10筆壓差  delta_P=P2-P1 (pa) 這裡要將 kpa轉成 pa
delta_P = []
for i in np.arange(0,10):
    x = (p1_kpa[i]-p2_kpa[i])*1000
    delta_P.append(x)

delta_P_label = []
for i in np.arange(1,11):
    delta_P_label.append('delta_P'+repr(i))
    
delta_P_df = pd.DataFrame(delta_P, index=delta_P_label, columns=['delta_P(壓差)'])
delta_P_df

           delta_P(壓差)
delta_P1          30.0
delta_P2          46.0
delta_P3          71.0
delta_P4         100.0
delta_P5         138.0
delta_P6         186.0
delta_P7         245.0
delta_P8         306.0
delta_P9         378.0
delta_P10        457.0

# 2   
### ideal gas equation : $$\rho = \frac{P}{R K}$$
$$\rho=rho$$
- [在Jupyter Notebook裡面寫Python程式碼和數學公式](https://www.itread01.com/content/1546065568.html)
- [在Jupyter notebook中編輯公式](https://www.cnblogs.com/laoduan/p/7641698.html)
- [Markdown中输入数学公式及LaTex常用数学符号整理](http://liyangbit.com/math/jupyter-latex/#22-%E5%B9%B3%E6%96%B9%E6%A0%B9%E5%92%8Cn%E6%AC%A1%E6%96%B9%E6%A0%B9)

In [8]:
#p1
rho1 = []
for i in np.arange(0,10): #[0~9]共10個
    x = float(p1_kpa[i])/dic['R']/dic['K']
    rho1.append(x)

rho1_label = []
for i in np.arange(1,11):
    rho1_label.append('p'+repr(i))

rho1_df = pd.DataFrame(rho1, index=rho1_label, columns=['p1空氣密度(kg/m^3)'])
rho1_df

     p1空氣密度(kg/m^3)
p1         1.196549
p2         1.195696
p3         1.194656
p4         1.193359
p5         1.191840
p6         1.189912
p7         1.187926
p8         1.185881
p9         1.183754
p10        1.181359

In [9]:
#p2
rho2 = []
for i in np.arange(0,10):
    x = float(p2_kpa[i]/dic['R']/dic['K'])
    rho2.append(x)

rho2_label = []
for i in np.arange(1,11):
    rho2_label.append('p'+repr(i))

rho2_df = pd.DataFrame(rho2, index=rho2_label, columns=['p2空氣密度(kg/m^3)'])
rho2_df

     p2空氣密度(kg/m^3)
p1         1.196199
p2         1.195159
p3         1.193827
p4         1.192191
p5         1.190228
p6         1.187739
p7         1.185063
p8         1.182305
p9         1.179337
p10        1.176019

$$\tau = \frac{\rho2}{\rho1}$$

In [10]:
tau = []
for i in np.arange(0,10): #[0~9]
    x = rho2[i]/rho1[i]
    tau.append(x)

tau_label = []
for i in np.arange(1,11):
    tau_label.append('tau'+repr(i))

tau_df = pd.DataFrame(tau, index=tau_label, columns=['tau'])
tau_df

            tau
tau1   0.999707
tau2   0.999550
tau3   0.999306
tau4   0.999021
tau5   0.998647
tau6   0.998173
tau7   0.997590
tau8   0.996985
tau9   0.996269
tau10  0.995480

$$\varepsilon$$

In [11]:
import math
E = []
for i in np.arange(0,10):
    x1 = float((dic['k']*tau[i]**(2/dic['k']))/(dic['k']-1))
    x2 = float((1-dic['b']**4)/(1-(dic['b']**4)*(tau[i]**(2/dic['k']))))
    x3 = float((1-tau[i]**((dic['k']-1)/dic['k']))/(1-tau[i]))
    E_ans = math.sqrt(x1*x2*x3)
    E.append(E_ans)

E_label = []
for i in np.arange(1,11):
    E_label.append('E'+repr(i))

E_df = pd.DataFrame(E, index=E_label, columns=['E'])
E_df

            E
E1   0.999777
E2   0.999658
E3   0.999471
E4   0.999255
E5   0.998970
E6   0.998610
E7   0.998166
E8   0.997705
E9   0.997160
E10  0.996560

# 3
#### U2(頸部的平均速度m/s)

In [12]:
import math
U2_assuming = []
for i in np.arange(0,10):
    x = math.sqrt((2*delta_P[i])/(rho2[i]*(1-dic['b']**4)))
    U2_assuming.append(x)

U2_assuming_label = []
for i in np.arange(1,11):
    U2_assuming_label.append('U2_assuming_'+repr(i))

U2_assuming_df = pd.DataFrame(U2_assuming, index=U2_assuming_label, columns=['U2(m/s)'])
U2_assuming_df

                  U2(m/s)
U2_assuming_1    8.124483
U2_assuming_2   10.064748
U2_assuming_3   12.511095
U2_assuming_4   14.858122
U2_assuming_5   17.468729
U2_assuming_6   20.301718
U2_assuming_7   23.326476
U2_assuming_8   26.099531
U2_assuming_9   29.044486
U2_assuming_10  31.980687

In [13]:
import numpy as np
import pandas as pd

'''
#???????????????????
#考慮過把label的部分包成def列印，但是""內的字不知道怎麼替換。
def label(label, number, columns):
    label1 = []
    loop = np.arange(1,len(number))
    for i in loop:
        label1.append('{}'.format(label)+repr(i))  #舊的寫法('%s' % label +rper(i)) 
    output = pd.DataFrame(label, index='{}'.format(loop), columns=['%s'.format(columns)]
    return output
label('red_label', 11 ,'red')          
'''

# red = U2 * d / vair
red = []
for i in np.arange(0,10):
    x = U2_assuming[i]*dic['d']/dic['vair']
    red.append(x)                       
                                     
red_label = []
for i in np.arange(1,11):
    red_label.append('red'+repr(i))
red_df = pd.DataFrame(red, index= red_label, columns=['red判別'])
red_df

               red判別
red1    75828.510254
red2    93937.647830
red3   116770.221043
red4   138675.803325
red5   163041.472214
red6   189482.704679
red7   217713.777084
red8   243595.622745
red9   271081.867443
red10  298486.411407

# 4
將red帶入判別式，分成A~E，得到C，再用 C 求 Qm
- 5 x 10^4 ≦ Red ＜ 3 x 10^5 , C = -3×10^(-13)*Red^2 + 2×10^(-7) Red + 0.9591
- 3 x 10^5 ≦ Red ＜ 5 x 10^5 , C = -2×10^(-8)*Red + 1.0025
- 5 x 10^5 ≦ Red ＜ 1 x 10^6 , C = 0.995
- 1 x 10^6 ≦ Red ＜ 2 x 10^6 , C = 1.000
- 2 x 10^6 ≦ Red ＜ 1 x 10^8 , C = 1.010

In [14]:
def C_distinguish(red):
    C = 0
    if 5*10**4 <= red < 3*10**5:
        C = (-3)*10**(-13)*red**2+2*10**(-7)*red + 0.9591
            
    elif 3*10**5 <= red < 5*10**5:
        C = (-2)*10**(-8)*red + 1.0025

    elif 5*10**5 <= red < 1*10**6:
        C = 0.995

    elif 1*10**6 <= red < 2*10**6:
        C = 1.000

    elif 2*10**6 <= red < 1*10**8:
        C = 1.010
    else:
        C = 0
        print('超出範圍')
    return C

In [15]:
'''
def C(red):
    C_label = []
    for i in np.arange(1,11):
        C_label.append('C'+repr(i))
    C = []
    if 5*10**4 <= red < 3*10**5:
        for i in np.arange(0,10):
            x = (-3)*10**(-13)*red[i]**2+2*10**(-7)*red[i] + 0.9591
            C.append(x)
    elif 3*10**5 <= red < 5*10**5:
        for i in np.arange(0,10):
            x = (-2)*10**(-8)*red + 1.0025
            C.append(x)

    elif 5*10**5 <= red < 1*10**6:
        for i in np.arange(0,10):
            x = 0.995
            C.append(x)

    elif 1*10**6 <= red < 2*10**6:
        for i in np.arange(0,10):
            x = 1.000
            C.append(x)

    elif 2*10**6 <= red < 1*10**8:
        for i in np.arange(0,10):
            x = 1.010
            C.append(x)
    else:
        C = 0
        print('超出範圍')
    print(np.DataFrame(C, index=C_label, columns=['C']))
    return C
'''

"\ndef C(red):\n    C_label = []\n    for i in np.arange(1,11):\n        C_label.append('C'+repr(i))\n    C = []\n    if 5*10**4 <= red < 3*10**5:\n        for i in np.arange(0,10):\n            x = (-3)*10**(-13)*red[i]**2+2*10**(-7)*red[i] + 0.9591\n            C.append(x)\n    elif 3*10**5 <= red < 5*10**5:\n        for i in np.arange(0,10):\n            x = (-2)*10**(-8)*red + 1.0025\n            C.append(x)\n\n    elif 5*10**5 <= red < 1*10**6:\n        for i in np.arange(0,10):\n            x = 0.995\n            C.append(x)\n\n    elif 1*10**6 <= red < 2*10**6:\n        for i in np.arange(0,10):\n            x = 1.000\n            C.append(x)\n\n    elif 2*10**6 <= red < 1*10**8:\n        for i in np.arange(0,10):\n            x = 1.010\n            C.append(x)\n    else:\n        C = 0\n        print('超出範圍')\n    print(np.DataFrame(C, index=C_label, columns=['C']))\n    return C\n"

In [16]:
C = []
for i in np.arange(0,10):
    C.append(C_distinguish(red[i]))
C_label = []
for i in np.arange(1,11):
    C_label.append('C'+repr(i))
C_df = pd.DataFrame(C, index=C_label, columns=['C'])
C_df

            C
C1   0.972541
C2   0.975240
C3   0.978363
C4   0.981066
C5   0.983734
C6   0.986225
C7   0.988423
C8   0.990017
C9   0.991271
C10  0.992069

$$ Qm = C * \varepsilon * A_{throat} * \sqrt{\frac{2\bigtriangleup p*\rho_1}{1-\beta^4}}$$

In [17]:
A_throut = math.pi*dic['d']**2/4
Qm = []
for i in np.arange(0,10):
    x = C[i]*E[i]*A_throut*math.sqrt((2*delta_P[i]*rho1[i])/(1-dic['b']**4))
    Qm.append(x)
Qm_label = []
for i in np.arange(1,11):
    Qm_label.append('Qm'+repr(i))
Qm_df = pd.DataFrame(Qm, index=Qm_label, columns=['Qm'])
Qm_df

            Qm
Qm1   0.145485
Qm2   0.180566
Qm3   0.224907
Qm4   0.267450
Qm5   0.314747
Qm6   0.365905
Qm7   0.420345
Qm8   0.469904
Qm9   0.522176
Qm10  0.573690

# 6
- $$Q_v1=Q_m/\rho1$$
- $$Q_v2=Q_m/\rho2$$
- U1 = Q_v1/A1
- U2 = Q_v2/A2
- Red* = U2*d/v_air

In [18]:
# 之後的label直接套用公式
def label(string):
    string_label = []
    for i in np.arange(1,11):
        string_label.append(string+repr(i))
    return string_label

In [19]:
Qv1 = []
for i in np.arange(0,10):
    x = Qm[i]/rho1[i]
    Qv1.append(x)
'''
改用label(string)代替下列程式碼
Qv1_label = []
for i in np.arange(1,11):
    Qv1_label.append('Qv1_'+repr(i))
pd.DataFrame(Qv1, index=Qv1_label, columns=['Qv1'])
'''
Qv1_df = pd.DataFrame(Qv1, index=label('Qv1_'), columns=['Qv1'])
Qv1_df

             Qv1
Qv1_1   0.121588
Qv1_2   0.151013
Qv1_3   0.188261
Qv1_4   0.224115
Qv1_5   0.264085
Qv1_6   0.307506
Qv1_7   0.353848
Qv1_8   0.396249
Qv1_9   0.441118
Qv1_10  0.485619

In [20]:
Qv2 = []
for i in np.arange(0,10):
    x = Qm[i]/rho2[i]
    Qv2.append(x)
Qv2_df = pd.DataFrame(Qv1, index=label('Qv2_'), columns=['Qv2'])
Qv2_df

             Qv2
Qv2_1   0.121588
Qv2_2   0.151013
Qv2_3   0.188261
Qv2_4   0.224115
Qv2_5   0.264085
Qv2_6   0.307506
Qv2_7   0.353848
Qv2_8   0.396249
Qv2_9   0.441118
Qv2_10  0.485619

In [21]:
U1 = []
for i in np.arange(0,10):
    x = Qv1[i]/dic['AD']
    U1.append(x)
U1_df = pd.DataFrame(U1, index=label('U1_'), columns=['U1'])
U1_df

              U1
U1_1    3.870254
U1_2    4.806895
U1_3    5.992547
U1_4    7.133816
U1_5    8.406083
U1_6    9.788231
U1_7   11.263337
U1_8   12.613003
U1_9   14.041247
U1_10  15.457738

In [22]:
U2 = []
for i in np.arange(0,10):
    x = Qv2[i]/A_throut
    U2.append(x)
U2_df = pd.DataFrame(U2, index=label('U2_'), columns=['U2'])
U2_df

              U2
U2_1    7.900786
U2_2    9.814394
U2_3   12.238177
U2_4   14.573066
U2_5   17.178500
U2_6   20.012518
U2_7   23.041913
U2_8   25.818649
U2_9   28.762906
U2_10  31.689623

In [23]:
red_star = []
for i in np.arange(0,10):
    x = U2[i]*dic['d']/dic['vair']
    red_star.append(x)
red_star_df = pd.DataFrame(red_star, index=label('red_star'), columns=['red_star'])
red_star_df

                 red_star
red_star1    73740.666363
red_star2    91601.011129
red_star3   114222.983681
red_star4   136015.286717
red_star5   160332.667343
red_star6   186783.498015
red_star7   215057.853946
red_star8   240974.056404
red_star9   268453.791102
red_star10  295769.812153

# 7
這邊需要做跌代，設定誤差精度，沒有低於誤差就把red*代回去計算C
，再由C計算Qm、Qv1、Qv2、U1、U2、red*(新)
最後再看新的error_rate有沒有小於設定的誤差(error_rate_init)。
- $$Q_v1=Q_m/\rho1$$
- $$Q_v2=Q_m/\rho2$$
- U1 = Q_v1/A1
- U2 = Q_v2/A2
- Red* = U2*d/v_air

In [24]:
#誤差
error_rate_init = 0.01
error_rate = []
for i in np.arange(0,10):
    x = abs(red_star[i]-red[i])/red_star[i]
    error_rate.append(x)
error_rate_df = pd.DataFrame(error_rate, index=label('error_rate'), columns=['error_rate'])
error_rate_df

              error_rate
error_rate1     0.028313
error_rate2     0.025509
error_rate3     0.022301
error_rate4     0.019560
error_rate5     0.016895
error_rate6     0.014451
error_rate7     0.012350
error_rate8     0.010879
error_rate9     0.009790
error_rate10    0.009185

In [25]:
# 這個cell是測試用
a = ['a','b','c','d','e']
z=0
while z<4:
    for i in np.arange(0,5):
        print(i)
        a[i] = 'x'
        print(a)
        z+=1

0
['x', 'b', 'c', 'd', 'e']
1
['x', 'x', 'c', 'd', 'e']
2
['x', 'x', 'x', 'd', 'e']
3
['x', 'x', 'x', 'x', 'e']
4
['x', 'x', 'x', 'x', 'x']

In [26]:
#先由誤差判斷需不需要迭代
red_star_new = ['']*10
i = 0
while i < 10:
    if error_rate[i] > error_rate_init: 
        print(i)
        print(red_star[i])
        #print('C : ',C_distinguish(red_star[i]))
        Qm[i] =  C_distinguish(red_star[i])*E[i]*A_throut*math.sqrt((2*delta_P[i]*rho1[i])/(1-dic['b']**4))
        print('Qm[i] : ',Qm[i],'i : ',i)
        Qv1[i] = Qm[i]/rho1[i]
        #print('Qv1[i] : ',Qv1[i],'i : ',i)
        Qv2[i] = Qm[i]/rho2[i]
        print('Qv2[i] : ',Qv2[i],'i : ',i)
        U1[i] = Qv1[i]/dic['AD']
        print('U1[i]',U1[i],'i : ',i)
        U2[i] = Qv2[i]/A_throut
        print('U2[i]',U2[i],'i : ',i)
        
        red_star_new[i] = rho2[i]*U2[i]*dic['d']/dic['uair']
        print('red_star_new[i]',red_star_new[i])
        print('red_star[i] : ',red_star[i])
        error_rate[i] = abs(red_star_new[i]-red_star[i])/red_star_new[i]
        print(error_rate[i])
        if error_rate[i] < error_rate_init:
            i+=1
        else:
            red_star[i] = red_star_new[i]
    else:
        print(i)
        i+=1
error_rate_final = pd.DataFrame(error_rate, index=label('error_rate'), columns=['迭代到最後的誤差'])
error_rate_final

0
73740.66636283073
Qm[i] :  0.14543699346335745 i :  0
Qv2[i] :  0.12158264204249714 i :  0
U1[i] 3.8689651448678233 i :  0
U2[i] 7.898154479688127 i :  0
red_star_new[i] 73482.59180354606
red_star[i] :  73740.66636283073
0.003512050309474947
1
91601.01112929943
Qm[i] :  0.18050315587398058 i :  1
Qv2[i] :  0.1510286102533988 i :  1
U1[i] 4.8052329204672475 i :  1
U2[i] 9.81099994699091 i :  1
red_star_new[i] 91199.90317787587
red_star[i] :  91601.01112929943
0.004398118171696319
2
114222.98368110883
Qm[i] :  0.2248309590220098 i :  2
Qv2[i] :  0.18832798706638745 i :  2
U1[i] 5.990508024968077 i :  2
U2[i] 12.234012271086568 i :  2
red_star_new[i] 113596.69361410865
red_star[i] :  114222.98368110883
0.005513277253717521
3
136015.28671713974
Qm[i] :  0.26736472310083503 i :  3
Qv2[i] :  0.2242633890550185 i :  3
U1[i] 7.131541550507301 i :  3
U2[i] 14.568419152100837 i :  3
red_star_new[i] 135087.03901553573
red_star[i] :  136015.28671713974
0.006871478628658469
4
160332.66734322047
Qm[i] :  0.31465745850527604 i :  4
Qv2[i] :  0.26436747081073764 i :  4
U1[i] 8.403699601765492 i :  4
U2[i] 17.173628478461733 i :  4
red_star_new[i] 158981.87270427818
red_star[i] :  160332.66734322047
0.00849653244087077
5
186783.49801467103
Qm[i] :  0.3658179513994757 i :  5
Qv2[i] :  0.30799531840181915 i :  5
U1[i] 9.785896720298101 i :  5
U2[i] 20.00774586645376 i :  5
red_star_new[i] 184830.90551421366
red_star[i] :  186783.49801467103
0.010564210000622484
5
184830.90551421366
Qm[i] :  0.36575382686832014 i :  5
Qv2[i] :  0.3079413296478089 i :  5
U1[i] 9.784181342371115 i :  5
U2[i] 20.004238692138614 i :  5
red_star_new[i] 184798.5063519696
red_star[i] :  184830.90551421366
0.00017532155905169403
6
215057.85394609795
Qm[i] :  0.4202657092328693 i :  6
Qv2[i] :  0.35463581397279825 i :  6
U1[i] 11.261213581854529 i :  6
U2[i] 23.03756848619946 i :  6
red_star_new[i] 212340.84138549952
red_star[i] :  215057.85394609795
0.012795525075959208
6
212340.84138549952
Qm[i] :  0.42018276990966746 i :  6
Qv2[i] :  0.35456582669154296 i :  6
U1[i] 11.258991184422637 i :  6
U2[i] 23.033022028336056 i :  6
red_star_new[i] 212298.93597831135
red_star[i] :  212340.84138549952
0.00019738868211968
7
240974.05640367675
Qm[i] :  0.46983590930179536 i :  7
Qv2[i] :  0.3973897269237303 i :  7
U1[i] 12.611178747024757 i :  7
U2[i] 25.81491403014291 i :  7
red_star_new[i] 237386.372722083
red_star[i] :  240974.05640367675
0.015113267204238282
7
237386.372722083
Qm[i] :  0.46973971124925085 i :  7
Qv2[i] :  0.39730836209597997 i :  7
U1[i] 12.608596630988634 i :  7
U2[i] 25.80962847319177 i :  7
red_star_new[i] 237337.76829167578
red_star[i] :  237386.372722083
0.00020479012150942266
8
9

              迭代到最後的誤差
error_rate1   0.003512
error_rate2   0.004398
error_rate3   0.005513
error_rate4   0.006871
error_rate5   0.008497
error_rate6   0.000175
error_rate7   0.000197
error_rate8   0.000205
error_rate9   0.009790
error_rate10  0.009185

# 寫入excel
- [Python判斷是否存在Excel表](https://www.cnblogs.com/vickey-wu/p/6735046.html)
- [Python中使用Openpyxl處理excel表格](https://kknews.cc/zh-tw/code/ppg44vz.html)

In [27]:
from openpyxl import Workbook
from openpyxl import load_workbook
import os

def sheet_method(wb, add_sheet=[]):
    # rename default sheet
    #ss_sheet = wb['Sheet'] #為工作表命名
    #ss_sheet.title = add_sheet[0] #將工作表改名

    for i in range(1, len(add_sheet)): #把add_sheet的分頁全部建立出來
        # add new sheet
        wb.create_sheet(add_sheet[i])

    # switch to active sheet
    sheet_num = wb.sheetnames #回傳wb內所有的分頁名稱 ex: ['Sheet', 'sheet2', 'sheet3']
    last_sheet = len(sheet_num) - 1  #目的是回傳
    sheet_index = sheet_num.index(sheet_num[last_sheet])
    wb.active = sheet_index  #將最後的分頁作為目前活動的分頁
    #print(sheet_num)
    #print(sheet_index)
    #print(wb.active)
                                  
#查看本地資料是否存在
#檢查檔案是否存在  os.path.isfile(filepath)
#檢查目錄是否存在  os.path.islink()
#檢查路徑是否存在  os.path.exists()
def create_excel(filename="filename.xlsx", recreate=False, add_sheet=[]):
    '''
    .xls結尾的只能用xlwt模組寫，只能寫2^16 =        65,535的數據
    .xlsx結尾只能用openpyxl模組寫，  2^32 = 4,394,967,296的數據
    os.getcwd() 回傳目前的工作目錄
    '''
    path = os.path.join(os.getcwd() + "\\" + filename + ".xlsx")
    if os.path.exists(path):
        if recreate: #如果True就會執行，沒有就是執行else
            os.remove(path)
            wb = Workbook() #建立空白活頁簿物件
            sheet_method(wb, add_sheet) #呼叫公式
            # save workbook
            wb.save(path) #儲存
            print("Had been deleted and recreated " + filename)
        else:
            # error_info = 'Exist ' + filename + ' in path: ' + path\
            #              + " Please use another filename, otherwise the "\
            #              + filename + " file will be override"\
            #              + " if you need override please set recreate as Ture"
            # raise Exception, error_info
            pass
    else:
        # filename = xlwt.Workbook()
        wb = Workbook()
        sheet_method(wb, add_sheet)
        # save workbook
        wb.save(path)
        # print("you had create " + filename)

create_excel("output", recreate=True, add_sheet=["sheet1"])

Had been deleted and recreated output

In [28]:
#將使用分頁設置在第一個
# 開啟xlsx檔案的名稱
# workbook： 工作簿，一個excel文件包含多個sheet。
# worksheet：工作表，一個workbook有多個，表名識別，如「sheet1」,「sheet2」等。
# cell： 單元格，存儲數據對象

xlsx_name = 'output'
wb = load_workbook(os.getcwd()+"\\"+xlsx_name + '.xlsx')
'''sheetname_list = wb.sheetnames  # 所有分頁名稱的 list
ws = wb.active
ws = wb.sheetnames.index(wb.sheetnames[0]) #0表示第一個分頁
wb['sheet']'''

# ws["A1"] = 40
# ws.cell(row=4, column=2, value=10)#給第4行第2列賦值為10
ws = wb['Sheet']  #指定分頁作為active  # ws=wb.active 會直接將最後一個分頁作為active
#ws.cell(1,1).value = '41'


#清除內容
for row in ws['A1:G37']:
    for cell in row:
        cell.value = None

# 使用openpyxl將pandas DataFrame複製到 excel
para_list = [p1_kpa_df, p2_kpa_df, delta_P_df, rho1_df, rho2_df, tau_df, E_df, U2_assuming_df, red_df, C_df, Qm_df, Qv1_df, Qv2_df , U1_df, U2_df, red_star_df, error_rate_df, error_rate_final]
c = -1
from openpyxl.utils.dataframe import dataframe_to_rows
for i in range(0,len(para_list)):
    c+=2
    rows = dataframe_to_rows(para_list[i])
    for r_idx, row in enumerate(rows, 1):
        for c_idx, value in enumerate(row, c):
            ws.cell(row=r_idx, column=c_idx, value=value)
            
'''# 加粗外框
from openpyxl.styles import Font, colors, Border, Side

thin_border = Border(left=Side(style='thin'), 
                     right=Side(style='thin'), 
                     top=Side(style='thin'), 
                     bottom=Side(style='thin'))

for i in range(1,len(para_list)+1,2):
    ws.cell(12,i).border = thin_border'''
            
path = os.path.join(os.getcwd() + "\\" + xlsx_name + ".xlsx")
wb.save(path)